<div class="container-fluid">
    <p class="h3 p-3">{{ centroComercialDetail.nombre }}</p>
    <div class="row">
      <div class="col-2">
        <div class="thumb">
          <img
            class="img-fluid"
            src="{{ centroComercialDetail.profilePic }}"
            alt="{{ centroComercialDetail.nombre }}"
          />
        </div>
      </div>
      <div class="col">
        <dl>
          <dt>Centro Comercial</dt>
          <dt>Ubicación</dt>
          <dd>{{ centroComercialDetail.ubicacion }}</dd>
          <hr />
          <hr />
          <dt class="bold">Descripción</dt>
          <dd>{{ centroComercialDetail.descripcion }}</dd>
        </dl>
      </div>
    </div>
  </div>
  