
<div class="card mb-3" id="detail" style="max-width: 540px    ">
  <div class="row g-0">
    <div class="col-md-4">
      <img
          class="img-fluid"
          src="https://drive.google.com/uc?export=view&id=1emMy-AfHxAT42eLRGsFGcfQbmmG5_a4u"

          alt="{{ negocioDetail.nombre }}"
        />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ negocioDetail.nombre }}</h5>
        <p class="card-text">Descripcion: {{ negocioDetail.descripcion }}</p>
        <p class="card-text">Vecindario: {{ negocioDetail.vecindario.nombre }}</p>
        <p class="card-text">Numero Telefonico: {{negocioDetail.numeroDeTelefonico}} </p>
        <p class="card-text">Calificación: {{negocioDetail.calificacion}} </p>

      </div>
    </div>
  </div>

</div>

