#zona {
    
    padding: 20px;
    border-radius: 10px; /* Esquinas redondeadas, ajusta este valor según necesites */
}


li{
    font-size: 1.2rem; /* Tamaño de la letra */
    margin-right: 20px; /* Espacio a la derecha de cada enlace */
    color: black; /* Color de letra */
    font-family: 'Libre Baskerville';/* Fuente limpia y moderna */
}
#lista{ 
    padding: 20px;
    display: inline-block;
}

#post{
    padding: 20px;
    display: inline-block;
}

#main-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.54); /* Color blanco con 54% de transparencia */
    border-radius: 20px;
  }
  
  .detail-container {
    flex: 1; /* Ocupa una fracción del espacio disponible */

    order:2;
    
    border-radius: 20px;
    padding: 100px;

  }
  
  .list-container {
    flex: 1; /* Ocupa una fracción del espacio disponible */
    order:1;
  }


  @media (max-width: 768px) {
    #main-container {
      flex-direction: column;
    }
  
    .detail-container, .list-container {
      order: 0; /* Restablece el orden para dispositivos móviles */
    }
  }
img {
    width: 40px; /* o el tamaño que prefieras */
    height: 40px; /* igual al ancho para mantener la forma de círculo */
    border-radius: 50%; /* esto hace que la imagen sea redonda */
    object-fit: cover; /* asegura que la imagen se ajuste bien */
    margin-right: 10px; /* espacio entre la imagen y el texto */
  }
  