<!-- navbar for main title and sections -->
<div id="nav_bar">
  <!-- navbar main content -->
      <nav class="navbar navbar-expand-lg fixed-top">
          <div class="container-fluid">
              <a class="navbar-brand" href="." id="title">
                  <h1 class="display-6 justify-content-center my-1"> El Vecindario Amigo Website </h1>
              </a>
      
              <!-- toggle button for mobile nav -->        
              <button class="navbar-toggler" type="button" 
                      data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
                      aria-controls="navbarNavAltMarkup" aria-expanded="false" 
                      aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
      
              <!-- navbar links -->
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav" style="margin-left: auto;">
                  <a class="nav-link active" aria-current="page">Neighborhoods</a>
                  <a class="nav-link">Neighbors</a>
                  <a class="nav-link">Shopping Malls</a>
                  <a class="nav-link">Businesses</a>

                  <a class="nav-link" routerLink="/gruposDeInteres/list">Interest Groups</a>

                  <a class="nav-link">Green Zones</a>
              </div>
              </div>
          </div>
      </nav>
</div>