<div class="container-fluid" id="main-container">
  <!-- Componente de Detalle del Negocio -->
  <div *ngIf="selectedNegocio" class="detail-container">
    <app-negocio-detail [negocioDetail]="selectedNegocio"></app-negocio-detail>
  </div>

  <div class="list-container">
    <div class="text-end">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="container-fluid" id="zona">
      <div class="container-fluid" id="botones-ordenamiento">
        <button (click)="ordenarAscendente()" class="btn btn-primary">Ordenar Ascendente</button>
        <button (click)="ordenarDescendente()" class="btn btn-secondary">Ordenar Descendente</button>
      </div>

      <div class="container-fluid" id="lista">
        
        <ul class="list-group">
          <div *ngFor="let negocio of negocios  | paginate : { itemsPerPage: 10, currentPage: p }" class="col mb-2">
            <ul class="list-group">
              <li class="list-group-item cursor-pointer list-group-item:hover " (click)="onSelected(negocio)">
                {{ negocio.nombre }} - Calificación: {{ negocio.calificacion }}
              </li>
            </ul>
          </div>      
        </ul>
       
      </div>
    </div>
  </div>
</div>

