<div class="container-fluid" id="main-container">
  <!-- Componente de Detalle del Negocio -->
  <div *ngIf="selectedNegocio" class="detail-container">
    <app-negocio-detail [negocioDetail]="selectedNegocio"></app-negocio-detail>
  </div>

  <div class="list-container">
    <div class="container-fluid" id="zona">
      <div class="container-fluid" id="lista">
        <ul class="list-group">
          <!-- Lista de Negocios -->
          <div *ngFor="let negocio of negocios" class="col mb-2">
            <ul class="list-group">
              <li class="list-group-item" (click)="onSelected(negocio)">
                {{ negocio.nombre }} - Calificación: {{ negocio.calificacion }}
              </li>
            </ul>
          </div>      
        </ul>
      </div>
    </div>
  </div>
</div>

