<div *ngIf="selected">
  <app-grupoDeInteres-detail [grupoDeInteresDetail]="selectedGrupoDeInteres"></app-grupoDeInteres-detail>
</div>

<hr />
<div class="container-fluid">
  <div class="card text-white bg-dark mb-3">
    <div class="card-body">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grupo of gruposDeInteres" (click)="onSelected(grupo)">
            <td>{{ grupo.nombre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
