<div *ngIf="selected">
  <app-grupoDeInteres-detail [grupoDeInteresDetail]="selectedGrupoDeInteres"></app-grupoDeInteres-detail>
</div>

<form>
  <div class="col-4">
    <button class="btn btn-primary"(click)="ordenarTorneos($event)">Ordenar alfabéticamente</button>
    <br>
</div>
</form>


<hr />
<div class="container-fluid" id="zona">
  <div class="container-fluid" id="lista">
     <div *ngFor="let vecino of gruposDeInteres" (click)="onSelected(vecino)">
      <ul class="list-group">
        <li class="list-group-item">{{ vecino.nombre }}</li>
       
      </ul>
    </div>
    <div class="pagination-buttons mt-2 d-flex justify-content-center">
      <button class="btn btn-primary mx-3" (click)="goToPreviousPage()" [disabled]="currentPage === 0">Previous</button>
      <button class="btn btn-primary mx-3" (click)="goToNextPage()" [disabled]="currentPage === totalPages - 1">Next</button>
    </div>
</div>

