<div class="container-fluid">
    <div class="row">
      <div class="col mb-2" *ngFor="let centroComercial of centrosComerciales">
        <div class="card p-2" style="width: 15rem; height: 33rem">
          <img class="card-img-top" src="{{ centroComercial.image }}" alt="{{ centroComercial.nombre }}" />
          <div class="card-body">
            <h5 class="card-title">{{ centroComercial.nombre }}</h5>
            <p class="card-text">Ubicacion: {{ centroComercial.ubicacion }}</p>
            <p class="card-text">Calificacion: {{ centroComercial.calificacion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>