/* General Styles */
body h1{
  
  font-family: 'Libre Baskerville', serif; /* Fuente */
  margin: 0;
  padding: 0;
color:black;
  font-size: 60px;
padding: 5px;
font-weight: bold; 

font-weight: 920;
}
body h2{
  font-family: 'Libre Baskerville', serif; /* Fuente */
    font-style: italic; /* Estilo de fuente cursiva */
    margin-top: 5px; /* Espacio desde el h1 */
    font-size: 27px;
    text-align: center;
    font-weight: 100;
    
   
}

main {
  padding: 20px;
  min-height: 80vh; /* Adjust height based on your content */
}

#titulo {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
  padding-top: 120px; /* Ajusta según necesites */
  font-family: 'League Spartan';
  font-weight: bold; 
}
 #slogan {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
  padding-top: 10px; /* Ajusta según necesites */
}

/* Estilos Generales de la Navbar */
.navbar {
  background-color: black;
  display: flex;
 
 padding: 20px;
}

/* Título de la Navbar */
.navbar-brand h1 {
  color: white;
  font-family: 'Libre Baskerville', serif; /* Fuente */

  font-weight: bold; /* Letra más gruesa */
  font-size: 120%; /* Tamaño de la letra */
  display: flex;

}

/* Enlaces de la Navbar */
.navbar-nav .nav-link {
  font-size: 23px; /* Tamaño de la letra */
  margin-right: 20px; /* Espacio a la derecha de cada enlace */
  color: white;
  font-family: 'Libre Baskerville', serif; /* Fuente */
  font-weight: bold;
  text-align: center;
  

}



/* Enlace Activo de la Navbar */
.navbar-nav .nav-link.active {
  font-weight: bold; /* Letra más gruesa para el enlace activo */
  color: #737373; /* Color para el enlace activo */
  font-weight: bold;
}

/* Botón de la Navbar para móviles */
.navbar-toggler {
  border-color: transparent; /* Borde transparente para el botón */
}

.logo{
  width: 40px; /* o el tamaño que prefieras */
  height: 40px; /* igual al ancho para mantener la forma de círculo */
  border-radius: 50%; /* esto hace que la imagen sea redonda */
  object-fit: cover; /* asegura que la imagen se ajuste bien */
  margin-right: 10px; /* espacio entre la imagen y el texto */
}

/* Estilo para la imagen de fondo */
body {
  background-image: url(../assets/image.png); /* Asegúrate de poner la ruta correcta a tu imagen */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el cuerpo de la página sea al menos tan alto como la ventana del navegador */
  display: flex;
  flex-direction: column;
}

/* Resto de estilos */

footer {
  font-family: 'Libre Baskerville', serif; /* Fuente */
  padding: 10px 0;
  background-color: #000000;
  color: white;
  text-align: center;
  width: 100%;
  
  /* Asegúrate de que el footer tenga una posición relativa y no esté fijo */
  position: relative;
}

.container-to-display{
  flex: 1; 
}

#content-wrap {
  flex: 1;
  /* Estilos adicionales si son necesarios */
}

.nav-link:hover {
  transform: translateY(-5px); /* Desplaza el botón hacia arriba */
  transition: transform 0.3s; /* Hace que el movimiento sea suave */
}
