<body>
  <!-- navigation bar to start -->

  <div id="nav_bar">
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <img src="../../../assets/logo.png" class="logo" />
        <a class="navbar-brand" href="." id="title">
          <h1 class="display-6 justify-content-center my-1">Vecindario Amigo</h1>
        </a>
  
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" style="margin-left: auto">
            <a class="nav-link" aria-current="page"  href=".">Inicio</a>
            <a class="nav-link">Vecindarios</a>
            <a class="nav-link" routerLink="/vecinos">Vecinos</a>
            <a class="nav-link" routerLink="/negocios">Negocios</a>
            <a class="nav-link" routerLink="/gruposDeInteres">Grupos de interes</a>
            <a class="nav-link" routerLink="/zonasVerdes">Zonas Verdes</a>

          </div>
        </div>
      </div>
    </nav>
  </div>

  

  <div class="container-fluid" id="titulo">
    <h1>{{ title }}</h1>
</div>
<div class="container-fluid" id="slogan" *ngIf="showSlogan">
    <h2>Conecta, Comparte, Cuida - Juntos Creamos Comunidad</h2>
</div>
  <!-- Main Router Outlet -->
<div class="container-fluid" id="principal">
  <div class="row">
    <div class="col-md-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
 </div>
</body>

<style>
  @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap");
</style>
