/* General Styles */
body h1{
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 50px;
padding: 10px;
}
body h2{
  font-family: 'Libre Baskerville', serif; /* Fuente */
    font-style: italic; /* Estilo de fuente cursiva */
    margin-top: 5px; /* Espacio desde el h1 */
    font-size: 20px;
    text-align: center;
    
  
}


/* Navigation Bar Styles */


/* Main Content Styles */
main {
  padding: 20px;
  min-height: 80vh; /* Adjust height based on your content */
}

body {
  background-image: url(../assets/image.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#titulo{
  display: flex;
  align-items: stretch; /* Alinea los contenedores verticalmente */
  padding-top: 120px;
  padding-left: 1080px;
}
#slogan {
  display: flex;
  align-items: stretch; /* Alinea los contenedores verticalmente */
  padding-top: 20px;
  padding-left: 1080px;
 
}

/* Estilos Generales de la Navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0); /* Fondo completamente transparente */
 padding: 20px;
}

/* Título de la Navbar */
.navbar-brand h1 {
  color: black; /* Color de letra */
  font-family: 'Libre Baskerville'; /* Estilo de fuente */
  font-weight: bold; /* Letra más gruesa */
  font-size: 120%; /* Tamaño de la letra */
}

/* Enlaces de la Navbar */
.navbar-nav .nav-link {
  font-size: 1.2rem; /* Tamaño de la letra */
  margin-right: 20px; /* Espacio a la derecha de cada enlace */
  color: black; /* Color de letra */
  font-family: 'Libre Baskerville';/* Fuente limpia y moderna */
}

/* Enlace Activo de la Navbar */
.navbar-nav .nav-link.active {
  font-weight: bold; /* Letra más gruesa para el enlace activo */
  color: #737373; /* Color para el enlace activo */
}

/* Botón de la Navbar para móviles */
.navbar-toggler {
  border-color: transparent; /* Borde transparente para el botón */
}

.logo{
  width: 40px; /* o el tamaño que prefieras */
  height: 40px; /* igual al ancho para mantener la forma de círculo */
  border-radius: 50%; /* esto hace que la imagen sea redonda */
  object-fit: cover; /* asegura que la imagen se ajuste bien */
  margin-right: 10px; /* espacio entre la imagen y el texto */
}




