<!-- navigation bar to start -->
<app-navBar></app-navBar>

<!-- section of views -->
<div class="container mt-5 p-5">
  <div class="row mt-3">
    <!-- Columna izquierda para el contenido de vecindarios -->
    <div class="col-md-6">
      <!-- vecindarios list -->
      <app-vecindarios></app-vecindarios>
      <app-vecino> </app-vecino>
      <app-zonaVerde> </app-zonaVerde>
    </div>

    <!-- Columna derecha para el contenido de zonas verdes -->
    <div class="col-md-6">
      <!-- Main Content Area -->
      <main class="mt-4">
       
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>

<app-grupoDeInteres-list></app-grupoDeInteres-list>

<app-footer></app-footer>