
<app-navBar></app-navBar>
<!-- Main Content Area -->
<main class="mt-4">
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">Lista de vecinos</a>

    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
        <a class="dropdown-item" routerLink="/vecinos/list">List</a>
      </li>
     
    </ul>
  </li>
  <app-vecino-list> </app-vecino-list>
</main>

<!-- vecindarios list -->
<app-vecindarios-list></app-vecindarios-list>
<app-footer></app-footer>