
<div class="container-fluid" id="main-container">
  <!-- Componente de Detalle del Negocio -->
  <div *ngIf="selected" class="detail-container">
    <app-grupoDeInteres-detail [grupoDeInteresDetail]="selectedGrupoDeInteres"></app-grupoDeInteres-detail>  </div>

  <div class="list-container">
    <div class="container-fluid" id="zona">
      <div class="container-fluid" id="botones-ordenamiento">
        <button (click)="ordenarTorneos($event)" class="btn btn-primary">Ordenar Ascendente</button>
      </div>

      <div class="container-fluid" id="lista">
        <tr *ngFor="let vecindario of gruposDeInteres">
          <ul class="list-group">
            <li class="list-group-item cursor-pointer list-group-item:hover " (click)="onSelected(vecindario)">
              {{ vecindario.nombre }}
            </li>
          </ul>              
        </tr>
       
      </div>
      <div class="pagination-buttons mt-2 d-flex justify-content-center">
        <button class="btn btn-primary mx-3" (click)="goToPreviousPage()" [disabled]="currentPage === 0">Previous</button>
        <button class="btn btn-primary mx-3" (click)="goToNextPage()" [disabled]="currentPage === totalPages - 1">Next</button>
      </div>
    </div>
  </div>
</div>

