
<div class="container-fluid" id="zona">
  <div class="container-fluid" id="lista">
   
  
    <br />
 
    <div
    *ngFor="
      let zv of zonasVerdes
        | paginate : { itemsPerPage: 10, currentPage: p }
    "
    class="col mb-2"
  >
      <ul class="list-group">
        <li class="list-group-item">{{ zv.nombre }}</li>
       
      </ul>
           
       </div>
       </div>
       <!--
       <div class="text-end">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

      </div>
 -->
 </div>