<dt>Comentarios</dt>
          <dd class="caption" *ngFor="let comment of publicacionDetail.comentarios">
            <div class="card p-2" style="width: 15rem; height: 33rem">
             
              <div class="card-body">
                <h5 class="card-title">{{ comment.autor }}</h5>
                <p class="card-text">{{ comment.contenido }}</p>
              
               
                
                
                
              </div>
           </div>
          </dd>


          