<div class="container-fluid">
  <div class="card text-white bg-dark mb-3">
    <div class="card-body">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Localidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vecindario of vecindarios">
            <td>{{ vecindario.nombre }}</td>
            <td>{{ vecindario.ciudad }}</td>
            <td>{{ vecindario.localidad }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
