  <hr />

 <div class="container-fluid mt-3">
  <div class="row align-items-center justify-content-center">
    <div class="col-5 m-3">
      <div class="card list-vecindarios mb-3">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Localidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vecindario of vecindarios">
                <td class="clickeable" (click)="onSelected(vecindario)">{{ vecindario.nombre }}</td>
                <td>{{ vecindario.ciudad }}</td>
                <td>{{ vecindario.localidad }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="pagination-buttons mt-2 d-flex justify-content-center">
        <button class="btn btn-primary mx-3" (click)="goToPreviousPage()" [disabled]="currentPage === 0">Previous</button>
        <button class="btn btn-primary mx-3" (click)="goToNextPage()" [disabled]="currentPage === totalPages - 1">Next</button>
      </div>
    </div>

    <div class="col-5 m-3">
      <div *ngIf="selected">
        <app-vecindarios-detail [vecindarioDetail]="selectedVecindario"></app-vecindarios-detail>
       </div>
    </div>
  </div>
</div>

