.vecino-detail {
   
  font-family: 'Libre Baskerville';/* Fuente limpia y moderna */
}

.col-md-4 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 50%; /* Opcional, dependiendo de cómo quieras manejar la altura */
    flex: 0 0 30%; /* Aumenta el ancho del contenedor de la imagen */
    max-width: 50%;
  }
  
  .img-fluid {
    width: 150px; /* o el tamaño que prefieras */
    height: 150px; /* igual al ancho para mantener la forma de círculo */
    border-radius: 50%; /* esto hace que la imagen sea redonda */
    object-fit: cover; /* asegura que la imagen se ajuste bien */
    margin-right: 10px; /* espacio entre la imagen y el texto */
    align-items: center; /* Centra verticalmente */
  
  }
  
  #detail{
    background-color: #AACFE9;
  }

  .card-body{
    font-family: 'Libre Baskerville';/* Fuente limpia y moderna */
    font-size: 20px;
  }
  .list-group{
    font-family: 'Libre Baskerville';/* Fuente limpia y moderna */
    padding: 10px;

  }

  .buttons-container {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    

  }
  
  .buttons-container .btn {
    color: #737373;
 
    margin-left: 10px;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre el texto y los botones */
    align-items: center; /* Alinea verticalmente */
  }

  .button{
    align-items: center; 
    font-family: 'Libre Baskerville';/* Fuente limpia y moderna */
    display: flex;
    padding: 10px;
  }