<div class="container-fluid">
  <p class="h3 p-3">{{ vecinoDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ vecinoDetail.profilePic }}"
          alt="{{ vecinoDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Vecino</dt>
        <dt>Edad</dt>
        <dd>{{ vecinoDetail.edad }}</dd>
        <hr />
        <hr />
        <dt class="bold">Vecindario</dt>
        <dd class="caption">{{ vecinoDetail.vecindario.nombre }}</dd>
        <hr />
        <dt class="bold">Description</dt>
        <dd>{{ vecinoDetail.descripcion }}</dd>
        <dt>Publicaciones</dt>
          <dd class="caption" *ngFor="let post of vecinoDetail.publicaciones">
            <div class="card p-2" style="width: 15rem; height: 33rem">
              <img
                class="card-img-top"
                src="{{ post.foto }}"
                alt="{{ post.contenido }}"  
               
              />
              <div class="card-body">
                <h5 class="card-title">{{ post.fecha }}</h5>
                <p class="card-text">{{ post.contenido }}</p>
                <p class="card-text">Likes: {{ post.likes }}</p>
                <p class="card-text">Shares: {{ post.compartidos }}</p>
              </div>
           </div>
          </dd>

      </dl>
    </div>
  </div>
 </div>