/* Estilos globales y configuraciones de Flexbox */

/* Configuración de Flexbox para el body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Estilo para el contenido principal */
  app-root {
    flex-grow: 1; /* Permite que el contenido principal crezca para ocupar el espacio disponible */
  }
  
  a {
    text-decoration: none;
  }