
<div class="container-fluid">
   <div class="card text-white bg-dark mb-3">
     <div class="card-body">
       <table class="table table-dark table-striped">
         <thead>
           <tr>
             <th scope="col">Nombre</th>
             <th scope="col">Vecindario</th>
             <th scope="col">preferencias</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let zona of zonasVerdes">
            <td>{{ zona.nombre }}</td>
             <td>{{ zona.vecindario.nombre }}</td>
             <td>{{ zona.preferencias }}</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
 </div>
 