<div class="container mt-5">
    <div class="card shadow-sm text-white">
      <div class="card-body">
        <h1 class="card-title text-center">Bienvenidos a la Sección del Centro Comercial</h1>
        <!-- Space added below the title -->
        <hr style="margin-bottom: 1hr;">
        <p class="text-center">¿Qué te gustaría hacer?</p>
        <div class="d-flex justify-content-center">
          <!-- Button "Ver" in green and second button enabled -->
          <button class="btn btn-success mx-2" (click)="showCentroComercialList()">Ver Lista de Centros Comerciales</button>
          <button class="btn btn-danger mx-2" (click)="hideCentroComercialList()">Ocultar Lista</button>
        </div>
        <div class="d-flex justify-content-center mt-2">
          <!-- Button enabled and in green -->
          <button class="btn btn-success mx-2" (click)="showCentroComercialDetalle()">Ver Detalle de Centros Comerciales</button>
          <button class="btn btn-danger mx-2" (click)="hideCentroComercialDetalle()">Ocultar Detalle</button>
        </div>
      </div>
    </div>
  </div>
<!--
  <div *ngIf="displayCentroComercialList" class="mt-3">
    <app-centro-comercial-list></app-centro-comercial-list>
  </div>
  
  <div *ngIf="displayCentroComercialDetalle" class="mt-3">
    <app-centro-comercial-detail></app-centro-comercial-detail>
  </div>
-->
