<div class="container-fluid">
  <div class="card shadow-sm">
  <p class="h3 p-3">{{ grupoDeInteresDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          alt="{{ grupoDeInteresDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col-md-7">
      <dl>
        <dt>Grupo De Interes</dt>
        <hr />
        <dt class="bold">Description</dt>
        <dd>{{ grupoDeInteresDetail.descripcion }}</dd>
      </dl>
      <p class="h5">Miembros del grupo de interes:</p>
        <ul>
          <li
            *ngFor="let vecino of grupoDeInteresDetail?.vecinos"
            routerLink="/vecinos/{{ vecino.ID }}"
          >
            {{ vecino.nombre }}
          </li>
        </ul>
    </div>
  </div>
</div>
 </div>