<div class="container-fluid">
  <p class="h3 p-3">{{ grupoDeInteresDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          alt="{{ grupoDeInteresDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Grupo De Interes</dt>
        <dd>No available information</dd>
        <hr />
        <dt class="bold">Description</dt>
        <dd>{{ grupoDeInteresDetail.descripcion }}</dd>
      </dl>
    </div>
  </div>
 </div>