
<!-- Div para la imagen de fondo -->
<div class="body-background"></div>

<!-- El contenido que sigue, que se mostrará después de la imagen de fondo -->
<div class="after-background">

<div id="content-wrap" class="main-container m-5">
  
    <div class="row">
      
   
      <div class="col-md m-4">
       
        <section class="card shadow-sm text-white" id="Bienvenidos">
          <div class="card-body">
            
            <h1 class="card-title">Bienvenidos a Vecindario Amigo</h1>
           <!-- <p>Descubre, conecta y disfruta de la comunidad de tu vecindario.</p> -->
          </div>
        </section>
      </div>
  
      <div class="col-md m-4">
     

        <section class="card shadow-sm text-white" id="Características">
          <div class="card-body">
            <h1 class="card-title">Características</h1>
            <!--
            <ul>
              
              <li>Explora los vecindarios y encuentra tu lugar ideal para vivir.</li>
              <li>Conecta con tus vecinos y crea una comunidad fuerte y segura.</li>
              <li>Descubre negocios locales y apoya la economía de tu vecindario.</li>
              <li>Participa en eventos comunitarios y actividades de interés.</li>
              
            </ul>
            -->
          </div>
        </section>
      </div>
  
      <div class="col-md m-4">
       


        <section class="card shadow-sm text-white" id="about">
          <div class="card-body">
            <h1 class="card-title">Sobre Nosotros</h1>
<!--
            <p>Somos una plataforma dedicada a fortalecer las comunidades locales proporcionando un espacio donde vecinos pueden conectarse y compartir recursos e información valiosa.</p>
         -->
          </div>
        </section>
      </div>
  
      <div class="col-md m-4">
        

        <section class="card shadow-sm text-white" id="contacto">
          <div class="card-body">
            <h1 class="card-title">Contacto</h1>
            <!--
            <p>¿Tienes preguntas o sugerencias? No dudes en contactarnos a través de nuestras redes sociales o nuestro formulario de contacto.</p>
         -->
          </div>
        </section>
      </div>
 
    </div>
    
     
  </div>
  
 
  <div class="container-fluid" id="mas">
    <h1 >Bienvenidos a Vecindario Amigo</h1>
  <p>Descubre, conecta y disfruta de la comunidad de tu vecindario.</p> 
  <img src="https://cdn-icons-png.flaticon.com/512/5186/5186655.png" id="img">

  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="container-fluid" id="mas">

    <h1>Características</h1>
    <ul>
            
      <li>Explora los vecindarios y encuentra tu lugar ideal para vivir.</li>
      <li>Conecta con tus vecinos y crea una comunidad fuerte y segura.</li>
      <li>Descubre negocios locales y apoya la economía de tu vecindario.</li>
      <li>Participa en eventos comunitarios y actividades de interés.</li>
      
    </ul>
    <img src="https://cdn-icons-png.flaticon.com/512/8131/8131340.png" id="img">
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container-fluid" id="mas">
    <h1 >Sobre Nosotros</h1>
    
  <p>Somos una plataforma dedicada a fortalecer las comunidades locales proporcionando </p>
   <p> un espacio donde vecinos pueden conectarse y compartir recursos e información valiosa.</p>
   <img src="https://cdn2.iconfinder.com/data/icons/development-36/200/team-coding-2--team-coding-PROGRAMMING-SOFTWARE-WEB-DEVELOPMENT-DEVELOPERS-APP-PC-MAC-WORK-HTML-512.png" id="img">
            
                

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="container-fluid" id="mas">

    <h1 >Contacto</h1>
   
    <p>¿Tienes preguntas o sugerencias?</p>
      <p> No dudes en contactarnos a través de nuestras redes sociales o nuestro formulario de contacto.</p>



</div>



</div>

