<div id="content-wrap" class="main-container m-5">
    <div class="row">
      <div class="col-md m-4">
        <!-- Sección de bienvenida -->
        <section class="card shadow-sm text-white">
          <div class="card-body">
            <h1 class="card-title">Bienvenidos a Vecindario Amigo</h1>
            <p>Descubre, conecta y disfruta de la comunidad de tu vecindario.</p>
          </div>
        </section>
      </div>
  
      <div class="col-md m-4">
        <!-- Sección de características -->
        <section class="card shadow-sm text-white">
          <div class="card-body">
            <h2 class="card-title">Características</h2>
            <ul>
              <li>Explora los vecindarios y encuentra tu lugar ideal para vivir.</li>
              <li>Conecta con tus vecinos y crea una comunidad fuerte y segura.</li>
              <li>Descubre negocios locales y apoya la economía de tu vecindario.</li>
              <li>Participa en eventos comunitarios y actividades de interés.</li>
            </ul>
          </div>
        </section>
      </div>
  
      <div class="col-md m-4">
        <!-- Sección de sobre nosotros -->
        <section class="card shadow-sm text-white">
          <div class="card-body">
            <h2 class="card-title">Sobre Nosotros</h2>
            <p>Somos una plataforma dedicada a fortalecer las comunidades locales proporcionando un espacio donde vecinos pueden conectarse y compartir recursos e información valiosa.</p>
          </div>
        </section>
      </div>
  
      <div class="col-md m-4">
        <!-- Sección de contacto -->
        <section class="card shadow-sm text-white">
          <div class="card-body">
            <h2 class="card-title">Contacto</h2>
            <p>¿Tienes preguntas o sugerencias? No dudes en contactarnos a través de nuestras redes sociales o nuestro formulario de contacto.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
  