.card.shadow-sm.text-white {
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-body {
    font-family: 'Arial', sans-serif;
    color: black;
  }
  
  .card-title {
    font-size: 1.75em;
    margin-bottom: 0.5em;
    color: black;
  }
  
  .card-body p {
    font-size: 1.1em;
  }

  #mapContainer{
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.54); /* Color blanco con 54% de transparencia */
    border-radius: 20px;
    color: black; /* Color de letra */
    font-family: 'Libre Baskerville';
    padding: 30px;
  
    font-weight: bold;
  align-items: center;
  overflow: hidden;
    
  }
  