<div class="container mt-5">
  <div class="card shadow-sm text-white">
    <div class="card-body">
      <h1 class="card-title text-center">Bienvenidos a la Sección de Vecindarios</h1>
      <!-- Espacio agregado debajo del título -->
      <hr style="margin-bottom: 1hr;">
      <p class="text-center">¿Qué te gustaría hacer?</p>
      <div class="d-flex justify-content-center">
        <!-- Botón "Ver" en verde y segundo botón habilitado -->
        <button class="btn btn-success mx-2" (click)="showVecindariosList()">Ver Lista de Vecindarios</button>
        <button class="btn btn-danger mx-2" (click)="hideVecindariosList()">Ocultar Lista</button>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor para la lista de vecindarios, visible solo si se elige esa opción -->
<div *ngIf="displayVecindariosList" class="mt-3">
  <app-vecindarios-list></app-vecindarios-list>
</div>

